body{
  font-family: Poppins;
  font-family: poppins;
  background-image: url("./assets/bg.jpg");
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
.typing-demo {
  width: 16ch;
  animation: typing 4s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid red;
  color: red;
}
.main-container{
  max-width: calc(879px + 30px);
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}
@keyframes typing {
  from {
    width: 0;
    color: black;
  }
}
    
@keyframes blink {
  20% {
    border-color: transparent
  }
}
.hero-background{
  background-image: url(./assets/penguin-42936_640.png);
background-size: contain;
background-repeat: no-repeat;
background-position: right;
}
.skill__background_image{
  background-image: url("./assets/.jpg");
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.polygon{
  clip-path: circle(50px at 0 100px);
}
.hero__background__image{
  background-image: url("./assets/bg.jpg");
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.ball div{
  animation: bouncingBall 2s alternate-reverse infinite ;
}
.ballTwo div{
  animation: bouncingBall 2s alternate-reverse infinite ;
}
@keyframes bouncingBall {
  10%{
    margin-top: 50px;
  }
  
 
}
.headerS{
  text-shadow: 4px 4px 0px #000, 
  -4px 0 0px #000,
  7px 4px 0 #fff;
}
.expo{
  text-shadow: 4px 4px 0px #000, 
      -4px 0 0px #000,
      7px 4px 0 #fff;
}
.box-shadow{
  background-color: #05386B;
  color: white;
  text-align: center;
box-shadow: 1px -0px 2px rgba(21, 0, 0, 0.32),
  2px -1px 9px rgba(21, 0, 0, 0.29),
  5px -2px 20px rgba(21, 0, 0, 0.26),
  8px -4px 35px rgba(21, 0, 0, 0.22),
  13px -7px 55px rgba(21, 0, 0, 0.19),
  19px -10px 79px rgba(21, 0, 0, 0.16),
  25px -13px 108px rgba(21, 0, 0, 0.13),
  33px -17px 141px rgba(21, 0, 0, 0.10),
  42px -22px 178px rgba(21, 0, 0, 0.06),
  52px -27px 220px rgba(21, 0, 0, 0.03);

}
input{
  background-color: white;
  color:navy;
}
.footer-form{
  background-image: url('../src/assets/bg.jpg');
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
.skill-shadow{
  text-align: center;
  box-shadow: 1px -0px 2px rgba(21, 0, 0, 0.32),
    2px -1px 9px rgba(21, 0, 0, 0.29),
    5px -2px 20px rgba(21, 0, 0, 0.26),
    8px -4px 35px rgba(21, 0, 0, 0.22),
    13px -7px 55px rgba(21, 0, 0, 0.19),
    19px -10px 79px rgba(21, 0, 0, 0.16),
    25px -13px 108px rgba(21, 0, 0, 0.13),
    33px -17px 141px rgba(21, 0, 0, 0.10),
    42px -22px 178px rgba(21, 0, 0, 0.06),
    52px -27px 220px rgba(21, 0, 0, 0.03);
}
.hero-shadow{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
h1{
  text-shadow: 4px 4px 0px #000, 
  -4px 0 0px #000,
  7px 4px 0 #fff;
}
.services__background{
  background-image: url(../src/assets/mobile.jpg);
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.neu__background{
  background-image: url(../src/assets/office-620822_1280.jpg);
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.servicess{
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
  0px -4px 10px rgba(255,255,255,0.3);
}