body{
  font-family: Poppins;
  background-color: #090E16;
  color: white;
  font-family: poppins;
}
.typing-demo {
  width: 16ch;
  animation: typing 4s steps(15), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid red;
  color: red;
}
.main-container{
  max-width: calc(679px + 30px);
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}
@keyframes typing {
  from {
    width: 0;
    color: black;
  }
}
    
@keyframes blink {
  20% {
    border-color: transparent
  }
}
.hero-background{
  background-image: url(./assets/penguin-42936_640.png);
background-size: contain;
background-repeat: no-repeat;
background-position: right;
}
